body{
    background-color: rgb(248, 249, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}


nav a:hover{
    border: 1px solid royalblue;
    margin: -1px;
}



#hero{
    color: white;
    width: 100vw;
}

#hero img{
    border-radius: 50%;
    box-shadow: darkblue 0 0 50px;
}

.text-body-secondary {
    --bs-text-opacity: 1;
    color: black;
}

.mainColor{
    background-color: royalblue;
    color: white;
}

.roundCorner{
    border-radius: 25px;
    margin: 15px;
}

h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size: 6em;
}


h3{
    font-size: 1.3em;
    margin-top: 25px;
}

p{
    margin-bottom: 10px;
}

section{
    padding: 2rem;
}

.autoWidth{
    width: auto;
    display: inline-block;
}

overview{
    color: white;
}

#header{
    width: 100vw;
}

#header > a{
    height: 50px;
    width: 50px;
    padding: 10px;
}



#portfolio{
    max-width: 70vw;
}




.portCard{
    transition: all .2s ease-in-out;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
    height: max-content;
    min-width: 270px;
}

.portCard:hover{
    transform: scale(1.03);
}








#Accomplishments p{
    max-width: 390px;
}


#Accomplishments img{
    margin: 15px;
    float: left;
}

.accomp{
    flex-wrap: wrap;
    max-width: 1000px;
}

.accomp > div{
    padding: 10px;
}










.skillcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 520px;
    border-radius: 20px;
    padding: 25px;
}

skill{
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    color: royalblue;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}











#contact div{
    align-items: center;
    margin: 20em 0px 25em 0px;
}


footer{
    margin: 10px;
    margin-top: 2em;
}
