body{
    background-color: rgb(248, 249, 250);
}

nav a{
    color: white;
}

hero{
    color: white;
}

hero img{
    border-radius: 50%;
}

.text-body-secondary {
    --bs-text-opacity: 1;
    color: black;
}

.mainColor{
    background-color: royalblue;
    color: white;
}

.roundCorner{
    border-radius: 25px;
    margin: 15px;
}

h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size: 4em;
}

h2{

}

h3{
    font-size: 1.3em;
    margin-top: 25px;
}

p{
    margin-bottom: 10px;
}

section{
    padding: 2rem;
}

.autoWidth{
    width: auto;
    display: inline-block;
}

overview{
    color: white;
}

#header > a{
    height: 50px;
    width: 50px;
    padding: 10px;
}

#Accomplishments p{
    max-width: 390px;
}


#Accomplishments img{
    margin: 15px;
    float: left;
}

.accomp{
    flex-wrap: wrap;
}

.accomp > div{
    padding: 10px;
}


.skillcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 520px;
    border-radius: 20px;
    padding: 25px;
}

skill{
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    color: royalblue;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}

#Education{

}
